# Ativa o mecanismo de reescrita de URL
RewriteEngine On

# Define o RewriteBase para o diretório raiz do subdomínio
RewriteBase /

# Ignora arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona todas as requisições para o index.php, mas evita loop infinito
RewriteRule ^(?!projeto/public/index.php).* /projeto/public/index.php [QSA,L]
