RewriteEngine On

# Define o RewriteBase para o diretório raiz do subdomínio (geralmente / se é o diretório raiz)
RewriteBase /

# Ignora arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona todas as outras requisições para o index.php
RewriteRule ^ /projeto/public/index.php [QSA,L]