{% extends "tastyC/master.html" %}
{% block content %}

<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <img src="./assets/tastyC/imagens/logo.php">
            <form action="/login" class="sign-in-form" id="login" method="post">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="nome" id="nome" required
                         placeholder="Insira seu nome de usuário">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="senha" id="senha" required
                        placeholder="Insira sua senha">
                    </div>
                    <input type="submit" value="Login" class="btn solid" id="btn_login">
                
                
            </form>
            <div class="baixo">
                <div class="separator-container">
                    <hr class="separator">
                    <div class="or">ou</div>
                </div>
                

                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <a href="cadastro.html" class="social-text">Ainda não possui uma conta? <b>Cadastre-se</b></a>
                
            </div>
            
        </div>
    </div>


    
    
</div>
    </div>
    <div class="panels-container"></div>
</div>

</div>
</div>

    

<script src="script.js"></script>
{% endblock %}